@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #413c43;
}

section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    color: #ffffff;
}

p {
    height: 95vh;
    width: 50vw;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 25vh;
    margin-left: 1vw;
}

.about-me {
    height: 5vh;
    width: 10vw;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20vw;
}


img {
    height: 100vh;
    width: 50vw;
    position: sticky;
}

div {
    box-sizing: border-box;
    margin-top: 10vh;
    margin-bottom: 10vh;
    -moz-box-sizing: border-box;

}